<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="api param" enabled="true" stopProcessing="true">
            <match url="^.*api/v1/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="cgi-bin/CadAssociacaoOnlineIsapi.dll/api/v1/{R:1}/{R:2}" logRewrittenUrl="true" />
        </rule>
        <rule name="api all" enabled="true" stopProcessing="true">
            <match url="^.*api/v1/([a-zA-Z0-9_-]+)" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="cgi-bin/CadAssociacaoOnlineIsapi.dll/api/v1/{R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>